html {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Chelsea Market', cursive;
}

* {
    box-sizing: border-box;
    }

    p {
    font-size: 2rem;
}

.headersec {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 70px 0px;
    text-align: center;
    
  
}

.planvisit {
    background-color: coral;
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 75px;
    
    
}

.learn {
    background-color: skyblue;
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 75px;
}

.involved {
    background-color: orange;
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 75px;
}



.bannersec {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px 0;
    width: 100%;
}


 
.bannerphoto {
    width: 400px;
    border-radius: 50%;
}

.textforbanner {
    width: 700px;
}
.bannertext {
    font-family: 'Chelsea Market', cursive;
    font-size: 7rem;
}

.paratext {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Roboto Mono', monospace;
    margin: 0 auto;
    font-weight: bold;
}
.paratext2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Roboto Mono', monospace;
    margin: 0 auto;
    width: 400px;
    font-weight: bold;
}


.descriptionp {
    padding: 1px;
    background-color: #DDB9A3;
    margin: 50px 50px;
    
}

.infotext {
    color: white;
    font-size: 2.5rem;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

.firesec {
    display:flex;
  align-items:center;
  justify-content:center;
    }

.fireimg {
    display:flex;
    align-items:center;
    justify-content:center;
}

#firepic {
    width: 12%;
    height: auto;
    margin: 30px;

}

.fireimgtext {
   
}

.firelodging {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 530;
    text-align: center;
    width: 30rem;
    letter-spacing: 2px;
    line-height: 20px;
}

span {
    font-weight: 900;
}


.endfoot {
    display: flex;
    flex-flow: column;


}
.endphoto {
    margin: 40px 0px 0px 0px;
    width: 100%;
    
}

.lastphoto {
    max-height: 300px; 
    width: 100%;
}

.lastblocksec {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 0px 0px;
    text-align: center;
    height: 150px;
    background-color: #F9E7DD;
    
}

.planvisit2 {
    background-color: coral;
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 75px;
    margin: 40px 0px;
    
}

.learn2 {
    background-color: skyblue;
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 75px;
    margin: 40px 0px;
}

.involved2 {
    background-color: orange;
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 75px;
    margin: 40px 0px;
}